@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/******HERO******/

.hero-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding-top: 10px;
}

.hero-container .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero-container .logo img {
    max-width: 50px;
    background-color: #fff;
    border-radius: 100%;
}

.hero-container .links {
    display: flex;
    gap: 30px;
}

.link-one, .link-two, .link-three {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

/******HEADER******/

.header-container {
    background-color: #1f2937;
    height: 450px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
    flex: 1;
    gap: 20px;
    padding-right: 20px;
}

.header-container h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.header-container .header-text {
    color: #E5E7EB;
    font-size: 18px;
}

.header-container .header-link {
    background-color: #3882F6;
    padding: 10px 35px;
    border-radius: 15px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
    background-color: gray;
    text-align: center;
    max-width: 40%;
    flex: 1;
}

/******INFO******/

.info-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container h2 {
    margin-top: 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    flex: 1;
}

.info-container .info {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 100px;
}

.info-box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box .info-img {
    border: 6px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.info-box .info-text {
    text-align: center;
}

/******THOR******/

.thor {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thor-text {
    max-width: 1500px;
    padding: 80px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.thor-name {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    font-style: normal;
    justify-content: flex-end;
}

/******CALL ACTION******/

.call-container {
    height: 300px;
    box-sizing: border-box;
    padding: 50px 100px;
}

.call-box {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    border-radius: 20px;
}

.call-box .call {
    margin-left: 20px;
    color: #F9FAF8;
    font-size: 18px;
}

.call-box .call-link {
    background-color: #3882F6;
    padding: 10px 35px;
    border: 4px solid #E5E7EB;
    border-radius: 15px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}

/******FOOTER******/

footer {
    background-color: #1f2937;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 18px;
    color: #E5E7EB;
}